/* Colors */
:root {
    //Primary
    --color-tomato: hsl(4, 100%, 67%);
    --color-neon-green: hsl(150, 100%, 66%);

    //Neutral
    --color-darkslate-grey: hsl(234, 29%, 20%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
   
    --color-white: hsla(360, 100%, 100%, 1);
  }